* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-apge-container {
  display: grid;
  grid-template-rows: 3fr 3fr 1fr;
}

header {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navigation {
  list-style: none;
  display: flex;
}
